
name: 2020环境用安装SDK方法时间长

on:
  push:
    branches-ignore:
      - main
      - master

env:
  SOLUTION_FILE_PATH: ./EnhancedNativeTrainer.sln
  BUILD_CONFIGURATION: Release

permissions:
  contents: read

jobs:
  build:
    runs-on: windows-2022

    steps:
    - uses: actions/checkout@v3
      with:
        submodules: recursive

    - name: Cache Windows SDK
      uses: actions/cache@v3
      with:
        path: C:\Program Files (x86)\Windows Kits\10
        key: ${{ runner.os }}-windows-sdk-${{ hashFiles('**/EnhancedNativeTrainer.sln') }}
        restore-keys: |
          ${{ runner.os }}-windows-sdk-

    - name: Install Windows SDK 10.0.18362.0
      if: steps.cache.outputs.cache-hit != 'true'
      run: |
        $installerPath = "C:\Program Files (x86)\Microsoft Visual Studio\Installer\vs_installer.exe"
        $arguments = "modify --installPath `"C:\Program Files\Microsoft Visual Studio\2022\Enterprise`" --add Microsoft.VisualStudio.Component.Windows10SDK.18362 --quiet --norestart"
        Start-Process -FilePath $installerPath -ArgumentList $arguments -Wait
      shell: powershell

    - name: Verify Windows SDK Installation
      run: |
        dir "C:\Program Files (x86)\Windows Kits\10\bin\10.0.18362.0"
      shell: powershell

    - name: Add MSBuild to PATH
      uses: microsoft/setup-msbuild@v1.1
      with:
        vs-version: '[17.0, 18.0)'

    - name: Build
      run: msbuild ${{env.SOLUTION_FILE_PATH}} /p:Configuration=${{env.BUILD_CONFIGURATION}}

    - name: List bin/Release directory
      run: dir bin\Release

    - name: Upload a Build Artifact
      uses: actions/upload-artifact@v4
      with:
        name: enh
        path: |
          GTAV-EnhancedNativeTrainer/bin/Release/
